
.head{
    text-align: center;
    margin: 2rem;
    color: #fff;
}
.vehicles{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.vehicle{
    border: 2px solid rgb(78, 71, 108);
    padding: 2rem;
    width: 20rem;
    text-align: center;
    background-color: #fff;
    
}
a{
    cursor: pointer;
}